body {
    background-color: #c7bfe6;
    background-image: url("https://i.imgur.com/cKnh1jU.png");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #040303;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #ec0505;
    margin-bottom: 10px;
  }